/*
Author: Sukhmanpreet Singh
Student Number: c0944349
File Name: styles.css
TERM PROJECT
*/

/*reset*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, th, table, caption, td, aside, figure, figcaption {
    margin:0;
    padding:0;
    border:0;
 }

 *{ 
    box-sizing: border-box;
 }

/* Style rules for body and images */
body {
    background-color: #ccc;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

img {
    width: 100%;
}

.logo {
    max-width: 22%;
    display:grid;
}

.hero {
    width: 100%;
    border: 5px solid#ccc;
    overflow: hidden;
 }
 
.offer {
    max-width: 45%;
    border-radius: 60px;
    width: 30%;
    border: 5px solid#ccc;
}

.floorlamp {
    width: 30%;
    border-radius: 40px;
    border: 5px solid#ccc;
    float: left;
    margin-left: 15%;
}

.png {
    max-width: 10%;
}

 /* Style rule for header */
header {
        width: 100%;
        height:fit-content;  
        background-color: #ccc;
        top: 0;
}

h1 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 5px;
    color: #000000;
    margin-bottom: 1%;
    font-weight: bolder;
}

h2 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 20px;
    color:#ccc;
    margin-bottom: 2%;
}

h3 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 20px;
    color:#ccc;
    margin-bottom: 2%;
}




 /* Style for rules for navigation area */ 
 .nav {
    color: #ffffffb9;
    padding-bottom: 1%;
    display:flex;
    justify-content:center;
    font-family: "GFS Didot", serif;
}

.nav ul {
    list-style: none;
    display:contents;  
    margin: 0 0px;
    text-align:center;    
}

.nav li {
    
    margin-right: 20px; 
    list-style-type:none;
    font-family: "GFS Didot", serif;
    font-size: 1.5em;}

.nav a {
    text-decoration: none;
    color: #000000;
}

.nav a:hover {
    text-decoration: none;
    color:#021229;
    background-color:#ccc;
}


 /* Style rules for main content */ 
main {
    background-color: #ccc;
    font-size: 1.25em;
    font-family: "GFS Didot", serif;
}

article {
    margin: 0;
}

#mission {
    font-weight: bold;
}

main p {
    text-align: center;
}

 body {
    font-family: "GFS Didot", serif;
    font-size: 1em;
    line-height: 1.6;
    align-items: center;
}

.urgent{
    font-size: 1.75em;
    font-weight: bold;
    color:#ccc;
}

a {
    display: flex;
    justify-content: center;
}

.tripod {
    font-weight: bold;
    color:#000000;
    font-style: italic;
}

#special {
    display: flex;
    align-items: center;
    padding: 2%;
}

#special .content{
    width: 50%;
}

.map{
    border: 2px solid #000;
    width: 95%;
    height: 50%;
}

#lovebright {
    font-family: "GFS Didot", serif;
    align-content:center;
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}

.homecontact{
    text-decoration: none;
    font-weight: normal;
    font-size: xx-large;
    color: #000000;
}

aside {
    margin-top: 20px;
    margin-left: 20px;
    background-color:#ccc;
    color:#ccc;
    box-shadow: 5px 5px 8px #000;
    border-radius: 0 15px; 
}

aside h2 {
    color: #cce;
    margin: 0;
}

aside p {
    margin: 0;
}

figure {
    margin: 20px 0;
    text-align: center;    
}

.home-menu {
    margin: 0;
    padding: 0;
    border: 1px solid #f2f2f2;
}

figcaption {
    text-align: center;
    font-weight:bold;
}

.team {
    width: 80%;
    border-radius: 40px;
    border: 5px solid#ccc;
    box-shadow: 5px 5px 8px #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style rules for form elements */
form {
    display:grid;
    width: 90%;
    justify-content: center;
}

fieldset, input, select, textarea {
    margin-bottom: auto;
    align-items: center;
   
}

fieldset {
    border: 2px solid#ccc;
    box-shadow: 3px 3px 3px#ccc;
    border-radius: 40px;
}

.form-grid {
    display:grid;
    grid-template-columns: auto / auto auto; 
    grid-gap: 20px;
}

fieldset legend {
    font-weight: bold; 
    font-size: 1.25em;
    text-align: center;
    color:#ccc;
}

label {
    display:flex;
    padding-top: 3%;
    justify-content: center;
}

input *{
    width: 95%;
    box-sizing: border-box; 
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
}

textarea {
    width:100%;
    display: flex;
    border-radius: 10px;
}

#how-heard {
    width: 100%;
    height:max-content;
}

.asterik {
    color: red;
}

.btn {
    border: 3px solid #ccc;
    font-family: "GFS Didot", serif;
    display: block;
    padding: 1%;
    background-color:#ccc;
    font-size: 1em;
    border-radius: 10px; 
    color:#ccc;
}



#best-date {
    display: flex;
    justify-content: center;
}

/*Style Rules for Lists*/
ul {
    list-style-type: none;
}

main li {
    padding: 2%;
    text-align: left;
}

/*Style Rules foe Tables*/
table {
    border-collapse: collapse;
    border: 4px solid#ccc;
    justify-content: center;
    display: block;
    padding: 2%;
}

caption {
    font-size: 1.7em; 
    font-weight: bold; 
    padding: 1% ;
    color:#ccc;
}

th, td {
    border-collapse: collapse;
    padding: 1%;
    border: 2px solid#ccc;
    text-align: center;
}

th {
    background-color:#ccc;
    color: #fff;
    width: 22%;
}

tr:nth-child(odd) { 
    background-color: #c5d281; 
}

tr:hover {
    background-color: rgb(109, 90, 231);
}

.frame {
    opacity: 0.9;
}

.frame:hover { 
    opacity: 1;
    box-shadow: 8px 8px 10px#ccc;
}


/* Apply styles to the main grid container */
.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;

}

.grid a:hover {
        text-decoration: none;
        font-weight: lighter;
        color:#021229;
        background-color:#ccc;

}

#lastarticle {
    align-items: center; 
}
 

/* Style for the section element */
section {
    padding: 20px;
    margin: 50px;
    box-shadow: 8px 8px 8px#ccc;
    border-radius: 45px;
        border:2px solid#ccc;
    }


/* Style for the quote element */
.quote {
    font-style: italic;
}

/* Emphasized quote class */
.emphasized {
    
    color: #ccc; 
}

video {
    width: 80%;
    display: grid;
    justify-content: center;
    border: 3px solid#ccc;
    padding: 5%;
    margin: 3%;
}

/* Style rules for footer content */
footer {
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

footer p{
    font-size: 0.8em;
    text-align:center;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

footer p a{
    color: #000;
    text-decoration: underline;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 100%;
        margin: 0 auto;
    }

    .hero {
        border: 3px solid#ccc;
    }

    .offer {
        max-width: 100%;
        width: 100%;
    }

    .floorlamp {
        width: 100%;
        margin-left: 0;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .nav li {
        margin: 0;
    }

    .nav {
        display: block;
    }

    main {
        margin: 5%;
    }

    #lovebright {
        flex-direction: column;
        text-align: center;
    }

    .grid {
        grid-template-columns: 100%;
    }

   .frame {
        box-shadow: none;
    }

    #lastarticle {
        text-align: center;
    }

    section {
        margin: 20px;
    }

    video {
        width: 100%;
    }

    p {
        font-size: .8em;
    }

    #training-table {
        width:fit-content;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
        max-width: 100%;
    }

    .nav ul {
        padding: 0;
    }
}